{% extends 'base.html' %}

{% block content %}
{% load cart %}
{% load custom_filter %}
<div class="row">

  <!-- fliter -->
  <div class="col-lg-3 mx-auto mt-4">
    <div class="list-group">

      <a href="/" class="list-group-item list-group-item-action">All Products</a>

      {% for category in categories %}
      <a href="/?category={{category.id}}" class="list-group-item list-group-item-action">
        {{category.name}}</a>
      {% endfor %}
    </div>
  </div>

  <!-- all products -->
  <div id="product" class="col-lg-8 mx-auto">
    <div class="container-fluid mt-4">
      <div class="row mx-auto ">
        {% for product in products %}
        <div class="card mx-auto mb-4" id="{{product.id}}" style="width: 18rem;">
          <img src="{{product.image.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-title">{{product.name}}</p>
            <p class="card-text"><b>{{product.price|currency}}</b></p>
            <!-- {{product | is_in_cart:request.session.cart}} -->

            <div class="card-footer p-o">
              {% if product|is_in_cart:request.session.cart %}
              <div class="row no-gutters">

                <!--  substrat a item in cart with - sign -->
                <form action="/#{{product.id}}" class="col-2" method="POST">
                  {% csrf_token %}
                  <input hidden type="text" name="product" value="{{product.id}}">
                  <input hidden type="number"name="remove" value="-1">
                  <input type="submit" value="-" 
                  class=" btn btn-block btn-info btn-block">
                </form>
                <div class="text-center col-8">{{product|cart_quantity:request.session.cart}}in cart</div>
                
                <!-- add a item in cart with + sign -->
                <form action="/#{{product.id}}" class="col-2" method="POST">
                  {% csrf_token %}
                  <input hidden type="text" name="product" value="{{product.id}}">
                  <input type="submit" value="+" 
                  class=" btn  btn-info btn-block border-left">

                </form>

              </div>
              {% else %}
              <form action="/#{{product.id}}" method="POST" class="btn-block">
                {% csrf_token %}
                <input hidden type="text" name="product" value="{{product.id}}">
                <input type="submit" class="float-right btn btn-info form-control border btn-block" value="Add To Cart">
              </form>

              {% endif %}

            </div>
           
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}